:root {
  --white: #ffffff;
  --light-gray: #f5f5f5;
  --gray: #cccccc;
  --light-blue: #a8d0e6;
  --dark-blue: #1c2b49;
}

body {
  font-family: "Inter", sans-serif;
  margin: 0;
  background-color: var(--light-gray);
  color: var(--dark-blue);
}
* {
  scroll-behavior: smooth;
}
header {
  display: fixed;
}
nav {
  background-color: var(--white);
  padding: 1rem 2rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  position: sticky;
  top: 0;
  z-index: 1000;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-weight: 800;
  font-size: 1.5rem;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.nav-links a {
  text-decoration: none;
  color: var(--dark-blue);
  font-weight: 600;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: var(--light-blue);
}

.hero {
  text-align: center;
  margin-top: -5%;
  padding: 0 2rem 4rem 2rem;
  background: var(--white);
  height: 100vh;
  align-content: center;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  color: var(--gray);
}

.btn {
  padding: 0.8rem 1.5rem;
  background-color: var(--dark-blue);
  color: var(--white);
  text-decoration: none;
  border-radius: 4px;
  font-weight: 600;
  transition: background 0.3s;
}

.btn:hover {
  background-color: var(--light-blue);
  color: var(--dark-blue);
}

.section {
  padding: 5rem 2rem;
  max-width: 1000px;
  margin: 0 auto;
  height: 100vh;
  /* align-content: center; */
}

.section h2 {
  text-align: center;
  margin-bottom: 2rem;
  padding: top;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 1.5rem;
}

.project-card {
  background: var(--white);
  border-left: 5px solid var(--light-blue);
  padding: 1rem;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}

.project-card h3 {
  margin-top: 0;
}

footer {
  text-align: center;
  padding: 2rem;
  background-color: var(--light-blue);
  color: var(--dark-blue);
}

.social-links {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.social-links a {
  text-decoration: none;
  color: var(--dark-blue);
  font-weight: 600;
  transition: color 0.3s;
}

.social-links a:hover {
  color: var(--white);
}
.projects {
  /* align-content: center; */
  height: 100vh;
}
.projects h2 {
  padding: 10rem 2rem;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}
.contact h2 {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}
.contact {
  height: 100vh;
  padding-top: 13%;
}
.skills-list {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  max-width: 700px;
  text-align: left;
  line-height: 1.8;
}

.skills-list li {
  margin-bottom: 0.75rem;
}
